<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<meta charset="utf-8">
	<title>Noticias del mundo</title>
</head>
<body>
 
 
 <section class="mx-5">
 	<h2>Noticias del mundo</h2>
 	
 	<div class="row">
 	
 	<div class="card mx-auto my-2" style="width: 18rem;" th:each="noticia : ${noticias}" >
	  <img class="card-img-top" th:src="${noticia.imgUrl}">
	  <div class="card-body">
	    <h5 class="card-title" th:text="${noticia.titulo}"/>
	    <p class="card-text" th:text="${noticia.bajada}"/>
	    <a href="#" class="btn btn-primary">Ver</a>
	  </div>
	</div>
 	
 	</div>
 
 </section>
 
</body>
</html>